<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="false">
  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
        matchAll="false"/>
  </serverUrls>
      <serverUrl url="http://211.101.37.234:8080/hdmapserver/wms"
        matchAll="false"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
