html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a,big, cite,em, font, img, small, dd, dl, dt,
 li, ol, ul, fieldset, form, label, input, select, textarea, table,
 caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
 body {font-family:Arial, SimSun, sans-serif, Verdana, Lucida, Helvetica;font-size:12px;color:#333;height:100%;margin:0px auto;background-color:#fff;}
h1, h2, h3, h4, h5, h6, b {font-weight:normal;font-size:12px;}
i, em, big, small, strong {font-style:normal;font-weight:normal;font-size:12px;}
a img, img, iframe,button{border:none;}
a span, form label,button {cursor:pointer;}
input,select{text-indent:4px;}
a { color:#000; text-decoration:none; }
a:hover { color:#a4d71c;}
li {list-style:none;}
table {border-collapse:collapse;}
select, textarea, input, button {vertical-align:middle;font-family:inherit;font-size:100%;}
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;content:'';}
.clearFix{zoom:1;}
img {_azimuth:expression(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "./images/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("', '').replace('")', ''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")), this.pngSet=true);
}

.header{height:98px;background:url(../images/bg_x.jpg) 0 0 repeat-x;}
.header_content{position:relative;height:96px;background:url(../images/top_bg1.jpg) 0 0 no-repeat;}
.header_content2{position:relative;height:96px;background:url(../images/top_bg2.jpg) 0 0 no-repeat;}
.header_content3{position:relative;height:96px;background:url(../images/top_bg3.jpg) 0 0 no-repeat;}
.header_content4{position:relative;height:96px;background:url(../images/top_bg4.jpg) 0 0 no-repeat;}
.header_content5{position:relative;height:96px;background:url(../images/top_bg5.jpg) 0 0 no-repeat;}

.date{position:absolute;top:16px;right:178px;color:#d3dfee;}
.system{position:absolute;top:16px;right:17px;}
.system a{color:#d36e22;font-weight:bold;}
.system em{color:#d36e22;font-weight:bold;margin:0 4px;}
.nav{position:absolute;top:59px;right:0;height:39px;overflow:hidden;}
.nav li{float:left;width:94px;height:38px;margin-right:5px;cursor:pointer;}
.nav li a{display:block;width:94px;height:38px;font-size:14px;color:#fff;font-weight:bold;text-align:center;line-height:38px;background:url(../images/navbg.png) 0 0 no-repeat;}
.nav li a:hover{background:url(../images/navbg_hover.png) 0 0 no-repeat;}
.nav li a.now{background:url(../images/navbg_hover.png) 0 0 no-repeat;}

.nav1{position:absolute;top:59px;right:0;height:39px;overflow:hidden;}
.nav1 li{float:left;width:150px;height:38px;margin-right:5px;cursor:pointer;}
.nav1 li a{display:block;width:150px;height:38px;font-size:14px;color:#fff;font-weight:bold;text-align:center;line-height:38px;background:url(../images/navbg1.png) 0 0 no-repeat;}
.nav1 li a:hover{background:url(../images/navbg_hover1.png) 0 0 no-repeat;}
.nav1 li a.now{background:url(../images/navbg_hover1.png) 0 0 no-repeat;}