@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a,big, cite,em, font, img, small, dd, dl, dt,
 li, ol, ul, fieldset, form, label, input, select, textarea, table,
 caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
 html { overflow-x:hidden; } 
 html { overflow-y:hidden; } 
 body {font-family:Arial, SimSun, sans-serif, Verdana, Lucida, Helvetica;font-size:12px;color:#333;height:100%;margin:0px auto; background:url(../images/bg.jpg) repeat-x top; width:100%;}
h1, h2, h3, h4, h5, h6, b {font-weight:normal;font-size:12px;}
i, em, big, small, strong {font-style:normal;font-weight:normal;font-size:12px;}
a img, img, iframe,button{border:none;}
a span, form label,button {cursor:pointer;}
input,select{text-indent:4px;}
a { color:#000; text-decoration:none; }
a:hover { color:#a4d71c;}
li {list-style:none;}
table {border-collapse:collapse;}
select, textarea, input, button {vertical-align:middle;font-family:inherit;font-size:100%;}
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;content:'';}
.clearFix{zoom:1;}


#bg{ width:1038px; min-width:1000px; margin:0 auto; background:url(../images/dlbg.jpg) no-repeat; height:619px;}
.dlflash{ width:1000px;position:relative;top:0;left:50%;margin-left:-500px;}
.perDword{padding-left:10px;position:absolute;left:500px;bottom:-110px; }
.perDword table td{ color:#FFF;}


