/*
--------------
Site:娌冲寳鐪佸叕璺伐绋嬮」鐩姩鎬佺鐞嗙郴缁�
Author:Christy
Updated:December 20 2013
Updated by:December 20 2013
--------------
*/
/*澹版槑鍏叡鏍峰紡*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a,big, cite,em, font, img, small, dd, dl, dt,
 li, ol, ul, fieldset, form, label, input, select, textarea, table,
 caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
 body {font-family:Arial, SimSun, sans-serif, Verdana, Lucida, Helvetica;font-size:12px;color:#333;height:100%;margin:0px auto;background-color:#fff;}
h1, h2, h3, h4, h5, h6, b {font-weight:normal;font-size:12px;}
i, em, big, small, strong {font-style:normal;font-weight:normal;font-size:12px;}
a img, img, iframe,button{border:none;}
a span, form label,button {cursor:pointer;}
input,select{text-indent:4px;height: 20px;}
a { color:#000; text-decoration:none; }
a:hover { color:#a4d71c;}
li {list-style:none;}
table {border-collapse:collapse;}
select, textarea, input, button {vertical-align:middle;font-family:inherit;font-size:100%;}
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;content:'';}
.clearFix{zoom:1;}
img {_azimuth:expression(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "./images/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("', '').replace('")', ''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")), this.pngSet=true);
}/*瑙ｅ喅IE6涓嶆敮鎸乸ng鐨勯�鏄庨棶棰�/
/* .right_zjhf1{float:left;width: 100%;height:100%;font-size:12px;background:#E3F2F9} */
*{margin:0;padding:0;}
.right_zjhf1{height:100%;width: 100%;}
.table_grid1 td{
	
	border: 1px solid #cbe0ff;
	font-size: 12px;
	padding: 6px 6px 6px 12px;
}
.table_grid1 tr td input,textarea{
	width:154px;
	height:20px;
	border: 1px solid #c9c9c9;
}

.xmgl_table tr td input,textarea{
	height:20px;
	border: 1px solid #c9c9c9;
}
.table_grid1 tr td select{
	border: 1px solid #c9c9c9;
	width:160px;height:25px;line-height:20px;
}


.table_grid2{
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: inherit;
	border-collapse:collapse;
	
}
.table_grid2 td{
	
	border: 1px solid #c9c9c9;
	font-size: 12px;
	padding: 2px 6px 2px 6px;
}
.table_grid2 tr td input,textarea{
	width:154px;
	height:20px;
	/* border: 1px solid #8db2e3; */
	border: 1px solid #c9c9c9;
}


.table_grid2 tr td select{
	border: 1px solid #c9c9c9;
	width:160px;height:25px;line-height:20px;
}

.right_zjhf{float:left;height:100%;color:#666;font-size:12px;background:#E3F2F9}
.right_bmgl{float:left;width: 100%;height:100%;color:#666;font-size:12px;background:url(../../images/contentbg.gif) 0 0 repeat-x;}
.table_grid{
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: inherit;
	border-collapse:collapse;
	
}
.table_grid td{
	
	border: 1px solid #C1DAD7;
	font-size: 12px;
	padding: 6px 6px 6px 12px;
}
.table_grid tr td input,textarea{
	width:154px;
	height:20px;
	border: 1px solid #c9c9c9;
}


.table_grid tr td select{
	border: 1px solid #8db2e3;
	width:160px;height:25px;line-height:20px;
}

.table_doc {
	width:740px;
	border-collapse:collapse;
	font-size:14px; 
	font-weight:bold ;
	/* margin-top: 5px;
	margin-bottom: 5px; */
	padding: 6px 6px 6px 12px;
	border:1px solid #ccc;
    background: #f8f8f8
}

.table_doc td{
	
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 6px 6px 6px 12px;
}

.table_wshz tr td{text-align:center;border:1px solid #ccc;}
.table_wshz tr td table tr td{text-align:left;border:none;}
.left_div A:link {
 color: #000000;
 TEXT-DECORATION: none
}

/*宸︿晶鍒楃殑鑿滃崟  class="left_div"*/
.left_div A:visited {
 COLOR: #000000;
 TEXT-DECORATION: none
}
.left_div A:hover {
 COLOR: #ff7f24;
}
.left_div A:active {
 COLOR: #ff7f24;  
}
.left_div{
	text-align: center;
	margin:10px;
}
.left_div div{
	margin-top: 8px;
}
.left_div img{
	margin : 10px;
}
#p_top{height:33px;line-height:33px;letter-spacing:1px;text-indent:18px;background:url(../images/jianjiao.png) 8px 0 no-repeat;}
#righttop{height:33px;background:url(../images/righttopbg.gif) 0 0 repeat-x;}
/*鏌ヨ鏉′欢table  class="searchTj"*/
.searchTj td{ text-align:right; width: 250px;padding-right:10px}
.searchTj input{width:180px;border:1px solid #95B8E7;}
.searchTj select{width:182px;height:22px;border:1px solid #95B8E7;}
.searchTj tr{height: 30px;}
.searchTj textarea{border:1px solid #95B8E7;}
.searchButton{text-align:left;}