/* CSS Document */

body, div, table, tr, td, h3, img, ul, span, li, button, p, form, input, label, em, iframe
{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: ו
}
ul li
{
    list-style: none;
}
a
{
    text-decoration: none;
}
img, button, iframe
{
    border: none;
}
button
{
    cursor: pointer;
}
.clearFix:after
{
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: '';
}
.clearFix
{
    zoom: 1;
}

#headerBg
{
    height: 110px;
    min-width: 1200px;
    background: url(../images/topbg.jpg) 0 0 repeat-x;
}
#headermain
{
    width:  100%;
    height: 110px;
    background: url(../images/top.jpg) 0 0 no-repeat;
    position: relative;
}
#nav
{
    position: absolute;
    top: 70px;
    right: 8px;
    overflow: hidden;
}
#nav ul li
{
    float: left;
    width: 101px;
    height: 37px;
    margin-right: 1px;
    display: inline;
    background: url(../images/navbg.png) 0 0 no-repeat;
}
#nav ul li a
{
    display: block;
    width: 101px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    color: #fff;
    font-size: 14px;
}
#nav ul li a:hover
{
    font-weight: bold;
    font-weight: bold;
    background: url(../images/navbg_hover.png) 0 0 no-repeat;
}
#nav .now
{
    font-weight: bold;
    color: #fff;
    background: url(../images/navbg_hover.png) 0 0 no-repeat;
}
#exit
{
    position: absolute;
    width: 309px;
    height: 60px;
    right: 0px;
    top: 40px;
    background: url(../images/exitbg.png) 0 0 no-repeat;
}
#exit img
{
    float: left;
    margin-top: -8px;
    margin-left: 86px;
    cursor: pointer;
}
#exit .img02
{
    float: left;
    margin-left: 10px;
}
#user
{
    position: absolute;
    width: 196px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    right: 0px;
    top: 58px;
}
table fieldset{border:1px solid #cde0f3; margin-bottom:4px;}
