@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a,big, cite,em, font, img, small, dd, dl, dt,
 li, ol, ul, fieldset, form, label, input, select, textarea, table,
 caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
 html { overflow-x:hidden; } 
 html { overflow-y:hidden; } 
body{background-color:#ffffff;color:#292929;font:12px Verdana, Arial, Helvetica, sans-serif, SimSun; margin:0; line-height:150%; width:100%;overflow-x:hidden;}
h1, h2, h3, h4, h5, h6, b {font-weight:normal;font-size:12px;}
i, em, big, small, strong {font-style:normal;font-weight:normal;font-size:12px;}
a img, img, iframe,button{border:none;}
a span, form label,button {cursor:pointer;}
input,select{text-indent:4px;}
a { color:#000; text-decoration:none; }
a:hover { color:#a4d71c;}
li {list-style:none;}
table {border-collapse:collapse;}
select, textarea, input, button {vertical-align:middle;font-family:inherit;font-size:100%;}
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;content:'';}
.clearFix{zoom:1;}


#topbg{ height:86px; background:url(../images/topbg.jpg) repeat-x;}
.topnv{ width:1000px; margin:0 auto;}
#main{ height:100%; background:url(../images/mainbg.jpg) repeat-x;}
.xznr{ width:1440px; height:100%; position:relative;top:0;left:50%;margin-left:-720px; }
.xztable{ width:1000px; position:absolute; top:180px; left:50%; margin-left:-500px;}
#foot{ height:63px; background:url(../images/footbg.jpg) repeat-x; position:absolute; bottom:0px; width:100%}
.foot{ width:1000px; margin:0 auto;}
.foot p{ line-height:63px; text-align:center; color:#FFF; }
