.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-page{
	background:url('icons/page.gif') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.treeclose{
	background:url('icons/tree_folder.gif') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-none{
	background:none;
	width:0px;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-menu{
	background:url('icons/menu.png') no-repeat center center;
}
.icon-star{
	background:url('icons/star.png') no-repeat center center;
}
.icon-unstar{
	background:url('icons/unstar.png') no-repeat center center;
}
.icon-link{
	background:url('icons/link.png') no-repeat center center;
}
.icon-note{
	background:url('icons/note.png') no-repeat center center;
}
.icon-west{
	background:url('icons/west.png') no-repeat center center;
}
.dw{
	background:url('icons/dw.png') no-repeat center center;
}
.bh1{
	background:url('icons/bh1.png') no-repeat center center;
}
.bh2{
	background:url('icons/bh2.png') no-repeat center center;
}
.bh3{
	background:url('icons/bh3.png') no-repeat center center;
}
.red{
	background:url('icons/red.png') no-repeat center center;
}
.bhadd{
	background:url('icons/bhadd.png') no-repeat center center;
}
.add{
	background:url('icons/add.png') no-repeat center center;
}
.edit{
	background:url('icons/edit.png') no-repeat center center;
}
.view{
	background:url('icons/view.png') no-repeat center center;
}
.del{
	background:url('icons/del.png') no-repeat center center;
}
.query{
	background:url('icons/query.png') no-repeat center center;
}
.export{	
	background:url('icons/application_go.png') no-repeat center center;
}
.detail{	
	background:url('icons/page_red.png') no-repeat center center;
}
.page_go{	
	background:url('icons/page_white_go.png') no-repeat center center;
}

.import{	
	background:url('icons/plugin_add.png') no-repeat center center;
}
.back{
		background:url('icons/arrow_undo.png') no-repeat center center;
	
}
.select{
		background:url('icons/select.png') no-repeat center center;
	
}
.upload{
		background:url('icons/page_white_get.png') no-repeat center center;
	
}
.submit{
		background:url('icons/comment_add.png') no-repeat center center;
}
.chart{	
	background:url('icons/chart_bar.png') no-repeat center center;
}

.chakan{	
	background:url('icons/page_find.png') no-repeat center center;
}
.dot{	
	background:url('icons/dot.png') no-repeat center center;
}
.icon-left{	
	background:url('icons/cross_left.png') no-repeat center center;
}
.save{	
	background:url('icons/filesave.png') no-repeat center center;
}
.redo{	
	background:url('icons/redo.png') no-repeat center center;
}
.excel{	
	background:url('icons/page_excel.png') no-repeat center center;
}
.detail{	
	background:url('icons/page_find.png') no-repeat center center;
}
.icon-tab{	
	background:url('icons/application_view_gallery.png') no-repeat center center;
}
.check{	
	background:url('icons/cog_go.png') no-repeat center center;
}
.gj{	
	background:url('icons/gj.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.addlh{
	background:url('icons/add.png') no-repeat left center;
}
.icon-searchlh{
	background:url('icons/search.png') no-repeat center left;
}
.icon-savelh{
	background:url('icons/filesave.png') no-repeat left center;
}
.icon-backlh{
	background:url('icons/back.png') no-repeat center center;
}
.icon-cancellh{
	background:url('icons/cancel.png') no-repeat left center;
}
.icon-nextlh{
	background:url('icons/application_go.png') no-repeat center center;
}
.icon-lastlh{
	background:url('icons/application_back.png') no-repeat center center;
}