.table_grid1{
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: inherit;
	border-collapse:collapse;
	
}
.table_grid1 td{
	
	border: 1px solid #c9c9c9;
	font-size: 12px;
	padding: 6px 6px 6px 12px;
}
.table_grid1 tr td input,textarea{
	width:154px;
	height:20px;
	/* border: 1px solid #8db2e3; */
	border: 1px solid #c9c9c9;
}


.table_grid1 tr td select{
	border: 1px solid #c9c9c9;
	width:160px;height:25px;line-height:20px;
}
