body
{
    font-size:12px;
    }
img{
	border : 0px;
}
.li_a_link a:link{
	color: #0000FF;
 	text-decoration: none;
}
.li_a_link a:visited{
	color: #ff7f24;
 	text-decoration: none;
}
.li_a_link a:hover{
	color: #ff7f24;
 	text-decoration: none;
}
.li_a_link a:active{
	color: #ff7f24;
 	text-decoration: none;
}

.left_div A:link {
 color: #000000;
 TEXT-DECORATION: none
}
.left_div A:visited {
 COLOR: #000000;
 TEXT-DECORATION: none
}
.left_div A:hover {
 COLOR: #ff7f24;
}
.left_div A:active {
 COLOR: #ff7f24;  
}
.left_div{
	text-align: center;
	margin:10px;
}
.left_div div{
	margin-top: 8px;
}
.left_div img{
	margin : 10px;
}

A:link {
 color: #000000;
 TEXT-DECORATION: none
}
A:visited {
 COLOR: #000000;
 TEXT-DECORATION: none
}
A:hover {
 COLOR: #ff7f24;
}
A:active {
 COLOR: #ff7f24;  
}


.count{
   position:absolute;
   right:20px;
   top:6px;
   width:44px;
   height:40px;
   background-repeat: no-repeat;
   background-image: url('../../images/count_bg.png')
}
  

.count1{
   background-position: -15px -41px;
}
.count2{
   background-position: -15px -84px;
}
.count3{
   background-position: -15px -126px;
}
.count4{
   background-position: -15px -168px;
}
.count5{
   background-position: -15px -210px;
}
.count6{
   background-position: -15px -252px;
}
.count7{
   background-position: -15px -294px;
}
.count8{
   background-position: -15px -336px;
}
.count9{
   background-position: -15px -378px;
}
.count10{
   background-position: -15px -420px;
}